/* ===========================================
--- Reset
=========================================== */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* ===========================================
--- Preset
=========================================== */

a {
  display: inline-block;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
  transition: all 0.5s ease;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}


/* ===========================================
--- Navbar Section
=========================================== */

header {
  position: fixed;
  width: 100%;
  padding: 20px 0;
  transition: 0.5s;
  background: hsl(0, 0%, 95%);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

nav ul {
  display: flex;
  gap: 24px;
}

nav ul li a {
  text-transform: capitalize;
  color: #000;
  transition: all 0.4s ease;
}

nav ul li a:hover {
  color: red;
}

nav button.nav-btn {
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  background: #333;
}

nav button.nav-btn:active {
  background: hsl(0, 0%, 40%);
}

header .mobile-nav {
  display: none;
}

.red {
  color: red;
}


/* Sticky Nav */

.sticky-nav {
  padding: 10px 0;
  background: #333;
}

.sticky-nav .red {
  color: red;
}

.sticky-nav nav h1 {
  color: #fff;
}

.sticky-nav nav ul li a {
  color: #fff;
}

.sticky-nav nav ul li a:hover {
  color: red;
}

.sticky-nav nav button.nav-btn {
  color: #000;
  background: #fff;
}

.sticky-nav nav button.nav-btn:active {
  background: hsl(0, 0%, 70%);
}

.mobile-menu-btn {
  display: none;
  cursor: pointer;
}

img.bars-icon {
  height: 20px;
}

.mobile-nav .close-btn {
  cursor: pointer;
}

.mobile-nav .close-btn img.x-icon {
  position: absolute;
  right: 20px;
  top: 30px;
  height: 20px;
}

.hamburger-icon {
  width: 25px;
  cursor: pointer;
}

.hamburger-icon div {
  height: 4px;
  margin: 5px 0;
  background-color: #000;
}

.sticky-nav .hamburger-icon div {
  background-color: #fff;
}

.sticky-nav nav .mobile-menu-btn svg path {
  fill: #fff;
}


/* ===========================================
--- Section Part
=========================================== */

section.section  {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: hsl(0, 0%, 90%);
}

section.section:not(:last-child) {
  border-bottom: 1px solid hsl(0, 0%, 50%);
}

section.section-1 {
  background: lightblue;
}

section.section-2 {
  background: lightgoldenrodyellow;
}

section.section-3 {
  background: lightseagreen;
}

section.section-4 {
  background: lightsalmon;
}

section.section-5 {
  background: lightgreen;
}



/* ===========================================
--- Media Queries
=========================================== */

@media screen and (max-width: 750px) {
  /* Here */
  nav ul.desktop-nav-list {
    display: none;
  }

  header .mobile-nav {
    display: block;
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100vh;
    padding-top: 70px;
    transition: all 0.5s ease;
    background: #0E2431;
    z-index: 99999;
  }

  header .mobile-nav ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 60px;
    align-items: center;
  }

  header .mobile-nav ul li a {
    text-transform: capitalize;
    color: #fff;
  }

  header .mobile-nav ul li a:active {
    color: red;
  }

  nav {
    padding: 0 20px;
  }

  nav button.nav-btn {
    display: none;
  }

  .mobile-menu-btn {
    display: block;
  }

  .mobile-menu-btn svg path {
    fill: #000;
  }  
}